@font-face {
    font-family: 'kumbhSans';
    src: url('/public/fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf');
}

body{
    background-color: #FAFAFA;
    min-height: 100vh;
    margin: 0px;
    padding: 81px 0px 1px 0px;
    position: relative;
}

* {
    transition: all 0.2s linear;
    box-sizing: border-box;
}

:root{
    --font: 'kumbhSans';
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: -1;
}


@media(max-width: 800px){
    body{
        padding: 72px 0px 1px 0px;
    }
}

@media(max-width: 650px){
    body{
        padding: 46px 0px 1px 0px;
    }
}
